        /* Agrega aquí el estilo CSS proporcionado */
        body {
            font-family: 'Gotham';
            margin: 0;
            padding: 0;
            background-color: #f3f3f3; /* Amarillo */
            color: #000000; /* Negro */
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        @font-face {
            font-family:  'Gotham';
            src: url('fonts/gotham-light-webfont.woff2') format('woff2'),
                 url('fonts/gotham-light-webfont.woff') format('woff'),
                 url('fonts/gotham-light-webfont.svg#gothamlight') format('svg');
                 font-weight: 1700;
                 font-style: normal;
        
        
           }
          
        .container {
            display: flex;
            flex: 1;
            height: 100%;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .logo img {
            max-width: 100px;
            height: auto;
        }
        .left-section {
            flex: 1;
            background-color: #000000; /* Negro */
            color: #f8f8f4; /* Blanco */
            padding: 20px;
            box-sizing: border-box;
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .left-section::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0; /* Cambiado a la derecha */
            width: 15px; /* Grosor de la franja amarilla */
            height: 100%;
            background-color: #f4d900; /* Amarillo */
        }
        .user-info {
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-top: auto;
        }

        .left-section h2 {
            margin-top: 0;
        }

        .middle-section {
            flex: 3;
            background-color: #ffffff; /* Blanco */
            padding: 20px;
            overflow: auto;
        }

        .middle-section h1,
        .middle-section h2 {
            margin-top: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f4d900; /* Amarillo */
            color: #000000; /* Negro */
        }

        tr:nth-child(even) {
            background-color: #f2f2f2; /* Gris */
        }

        button:hover {
            background-color: #f4d900; /* Amarillo */
            color: #000000; /* Negro */
        }
        
        .user-buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
        
        button.user-button {
            width: 50%;
            padding: 10px;
            font-size: 14px;
            background-color: #f4d900; /* Amarillo */
            color: #000000; /* Negro */
            border: 1px solid #000000;
            border-radius: 25px;
            cursor: pointer;
            margin-top: 20px; /* Empuja este botón hacia la parte inferior */
        }
        button.user-button:hover {
            width: 50%;
            padding: 10px;
            font-size: 14px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: #3a3a3a; /* Negro */
            color: #f4d900; /* Amarillo */
            border: 1px solid #000000;
            border-radius: 25px;
            cursor: pointer;
            margin-top: 20px;
        }
        
        /* Media Queries para Responsividad */
@media (max-width: 1200px) {
    .button-grid {
        grid-template-columns: repeat(2, 1fr);
        font-family: 'Gotham';

    }
    .logo img {
        max-width: 80px;
    }
}

@media (max-width: 768px) {
    .button-grid {
        grid-template-columns: 1fr;
        font-family: 'Gotham';

    }
    
    button {
        font-size: 14px;
        padding: 15px;
    }

    button.user-button {
        padding: 8px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .button-grid {
        grid-template-columns: 1fr;
    }
    .logo img {
        max-width: 60px;
    }
    button {
        font-size: 12px;
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    button.user-button {
        padding: 6px;
        font-size: 10px;
    }
}
button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #000000; /* Amarillo */
    color: #f4d900; /* Negro */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'Gotham';

}
